figure.highlight {
    padding-top: 30px;
    border-radius: 4px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.4);
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

figure.highlight::before {
    position: absolute;
    top: 9px;
    left: 12px;
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fc625d;
    border-radius: 100%;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
}

figure.highlight table {
    border-radius: 0 0 4px 4px;
}

[data-user-color-scheme="light"] figure.highlight {
    background-color: #ececec;
}

[data-user-color-scheme="dark"] figure.highlight {
    background-color: #28221b;
}