#toTop {
    position: fixed;
    right: 0.8rem;
    bottom: 2.2rem;
    z-index: 999;
    cursor: pointer;
}

/* 小于等于575px时 */
@media (max-width: 575px) {
    #toTop .icon-top {
        font-size: 1.5rem;
    }
}

/* 大于等于575px时 */
@media (min-width: 575px) {
    #toTop {
        display: none;
    }
}