/* 折叠框 */
details {
  display: block;
  margin: 0.5rem 0;
  padding: 16px;
  border: 0;
  font-size: 0.9rem;
  border-radius: 4px;
  transition: all 0.28s ease;
}

details summary {
  position: relative;
  margin: -16px;
  padding: 16px;
  color: #555;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: normal;
  border-radius: 4px;
}

details summary > p,
details summary > h1,
details summary > h2,
details summary > h3,
details summary > h4,
details summary > h5,
details summary > h6 {
  display: inline;
}

details summary:hover {
  color: #30a9de;
}

details summary:hover:after {
  position: absolute;
  top: 50%;
  right: 16px;
  content: "+";
  text-align: center;
  transform: translateY(-50%);
}

details > summary {
  background-color: #f6f6f6;
}

details[blue] {
  border-color: #e8f4fd;
}

details[blue] > summary {
  background-color: #e8f4fd;
}

details[cyan] {
  border-color: #e8fafe;
}

details[cyan] > summary {
  background-color: #e8fafe;
}

details[green] {
  border-color: #ebf9ed;
}

details[green] > summary {
  background-color: #ebf9ed;
}

details[yellow] {
  border-color: #fff8e9;
}

details[yellow] > summary {
  background-color: #fff8e9;
}

details[red] {
  border-color: #feefee;
}

details[red] > summary {
  background-color: #feefee;
}

details[open] {
  border-color: rgba(85, 85, 85, 0.2);
}

details[open] > summary {
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details[open][blue] {
  border-color: rgba(33, 150, 243, 0.3);
}

details[open][blue] > summary {
  border-bottom-color: rgba(33, 150, 243, 0.3);
}

details[open][cyan] {
  border-color: rgba(27, 205, 252, 0.3);
}

details[open][cyan] > summary {
  border-bottom-color: rgba(27, 205, 252, 0.3);
}

details[open][green] {
  border-color: rgba(61, 197, 80, 0.3);
}

details[open][green] > summary {
  border-bottom-color: rgba(61, 197, 80, 0.3);
}

details[open][yellow] {
  border-color: rgba(255, 189, 43, 0.3);
}

details[open][yellow] > summary {
  border-bottom-color: rgba(255, 189, 43, 0.3);
}

details[open][red] {
  border-color: rgba(254, 95, 88, 0.3);
}

details[open][red] > summary {
  border-bottom-color: rgba(254, 95, 88, 0.3);
}

details[open] > summary {
  color: #555;
  margin-bottom: 0;
}

details[open] > summary:hover:after {
  content: "-";
}

details[open] > div.content {
  margin: -16px;
  margin-top: 0;
  padding: 16px;
  border: 1px solid lightgray;
  border-top-color: transparent;
  border-radius: 0 0 2px 2px;
  cursor: auto;
}

details[open] > div.content p > a:hover {
  text-decoration: underline;
}
